Source: libnftnl
Section: lib
Build-Depends: debhelper-compat (= 13),
               build-essential,
               libmnl-dev (>= 1.0.4),
               libtool,
               pkg-config
Standards-Version: 4.7.0
Homepage: https://www.netfilter.org/projects/libnftnl/
