Source: acl
Section: utils
Maintainer: badsysadm <me@badsysadm.com>
Build-Depends:
 debhelper-compat (= 13),
 build-essential

Package: acl
Architecture: amd64
Static-Built-Using: gcc
Depends: ${shlibs:Depends}
Description: POSIX access control list utilities and library
