[Unit]
Description=Kubernetes kube-apiserver
Documentation=https://kubernetes.io/docs/home/
After=network.target
Requires=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Environment="KUBE_ETCD_SERVER=127.0.0.1:2379"
Environment="KUBE_SERVICE_CLUSTER_IP_RANGE=10.32.0.0/16"
Environment="KUBE_BIND_ADDRESS=127.0.0.1"
Environment="KUBE_KUBELET_PREFERRED_ADDRESS_TYPES=InternalIP"
ExecStart=/usr/sbin/kube-apiserver \
    --etcd-servers="$KUBE_ETCD_SERVER" \
    --audit-policy-file=%E/%N/audit.yaml \
    --audit-log-path=%L/%N/audit.log \
    --client-ca-file=%d/apiserver-ca.pem \
    --tls-cert-file=%d/apiserver.pem \
    --tls-private-key-file=%d/apiserver-key.pem \
    --etcd-cafile=%d/etcd-ca.pem \
    --etcd-certfile=%d/etcd.pem \
    --etcd-keyfile=%d/etcd-key.pem \
    --kubelet-certificate-authority=%d/apiserver-ca.pem  \
    --kubelet-client-certificate=%d/apiserver.pem \
    --kubelet-client-key=%d/apiserver.pem \
    --proxy-client-cert-file=%d/apiserver.pem \
    --proxy-client-key-file=%d/apiserver.pem \
    --requestheader-client-ca-file=%d/apiserver-ca.pem \
    --service-account-signing-key-file=%d/controller-manager-key.pem  \
    --service-account-key-file %d/controller-manager.pem \
    --tls-min-version=VersionTLS12 \
    --kubelet-preferred-address-types="$KUBE_KUBELET_PREFERRED_ADDRESS_TYPES" \
    --bind-address="$KUBE_BIND_ADDRESS" \
    --external-hostname=api.cluster.local \
    --feature-gates="RotateKubeletServerCertificate=false,SidecarContainers=true" \
    --profiling=false \
    --service-account-issuer=api \
    --service-cluster-ip-range="$KUBE_SERVICE_CLUSTER_IP_RANGE" \
    --authorization-mode=Node,RBAC \
    $OPTIONS


Restart=on-failure
RestartSec=120
LimitNOFILE=infinity

LoadCredential=apiserver-ca.pem:kube-apiserver.client.ca.pem 
LoadCredential=apiserver-ca-key.pem:kube-apiserver.client.ca-key.pem 
LoadCredential=apiserver.pem:kube-apiserver.client.kube-apiserver.cert.pem 
LoadCredential=apiserver-key.pem:kube-apiserver.client.kube-apiserver.cert-key.pem 
LoadCredential=etcd-ca.pem:etcd.client.ca.pem 
LoadCredential=etcd.pem:etcd.client.kube-apiserver.cert.pem 
LoadCredential=etcd-key.pem:etcd.client.kube-apiserver.cert-key.pem 
LoadCredential=controller-manager.pem:kube-apiserver.client.kube-controller-manager.cert.pem 
LoadCredential=controller-manager-key.pem:kube-apiserver.client.kube-controller-manager.cert-key.pem 

[Install]
WantedBy=multi-user.target
