[Unit]
Description=Wallarm webmonitorx
After=network.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/wallarm
BindPaths=/etc/wallarm /etc/hosts /var/lib/wallarm /var/lib/wallarm-acl
ReadWritePaths=/etc/wallarm /var/lib/wallarm /var/lib/wallarm-acl
ExecStart=timeout -k 1m 1h /usr/share/wallarm-common/sync-markers
StandardOutput=journal
LogsDirectory=wallarm

[Install]
WantedBy=multi-user.target
