[Unit]
Description=The NGINX HTTP and reverse proxy server
Documentation=https://angie.software/
Wants=network-online.target
After=network-online.target
[Service]

BindReadOnlyPaths=/var/lib/dehydrated
BindPaths=/var/cache/nginx /var/lib/wallarm-acl /var/lib/wallarm /etc/wallarm/
ReadWritePaths=/var/cache/nginx /var/lib/wallarm-acl /var/lib/wallarm /etc/wallarm/
PrivateUsers=no


User=root
Group=root
WorkingDirectory=/var/lib/nginx
RuntimeDirectory=nginx
StateDirectory=nginx
ConfigurationDirectory=nginx
LogsDirectory=nginx
ExecStart=/usr/sbin/nginx
ExecStartPre=/usr/sbin/nginx -t
ExecReload=/usr/sbin/nginx -s reload
PrivateUsers=no
Type=forking

[Install]
Alias=nginx
WantedBy=multi-user.target
