Source: polkit
Section: security
Maintainer: badsysadm <me@badsysadm.com>
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 duktape-dev,
 libexpat1-dev,
 libffi-dev,
 libpcre2-dev,
 meson,
 ninja-build,
 patch,
 perl,
 pkg-config,
 zlib1g-dev

Package: polkit
Architecture: amd64
Static-Built-Using: gcc, duktape-dev, libexpat1-dev, libffi-dev, libpcre2-dev, zlib1g-dev
Depends: ${shlibs:Depends}
Description: authorization framework
