[Unit]
Description=Gitea (Git with a cup of tea)
After=network.target
Documentation=https://docs.gitea.com/

[Service]
User=git
Group=git
WorkingDirectory=/var/lib/gitea/
Environment=USER=git HOME=/var/lib/gitea GITEA_WORK_DIR=/var/lib/gitea
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/gitea web --config /etc/%N/app.ini --work-path /var/lib/%N
RuntimeDirectory=%N
StateDirectory=%N
ConfigurationDirectory=%N
LogsDirectory=%N

[Install]
WantedBy=multi-user.target
