Source: iputils
Section: utils
Maintainer: badsysadm <me@badsysadm.com>
Build-Depends: debhelper-compat (= 13), build-essential, pkg-config, gettext, meson, ninja-build, libcap-dev, libidn2-dev, libunistring-dev

Package: iputils
Architecture: amd64
Static-Built-Using: gcc, libcap-dev, libidn2-dev, libunistring-dev
Depends: ${shlibs:Depends}
Description: iputils binaries and tools
