Source: strace
Section: utils
Maintainer: badsysadm <me@badsysadm.com>
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 pkg-config,
 gettext

Package: strace
Architecture: amd64
Static-Built-Using: gcc
Depends: ${shlibs:Depends}
Description: strace binary and tools
