[Unit]
Description=The most popular FOSS online survey tool on the web.
After=network.target
Documentation=https://manual.limesurvey.org/LimeSurvey_Manual

[Service]
User=unit
Group=unit
WorkingDirectory=/var/lib/gitea/
EnvironmentFile=-/etc/default/limesurvey
ExecStart=sh /usr/local/bin/docker-entrypoint.sh unitd --no-daemon --control unix:/run/unit/control.unit.sock --pid /run/unit/unit.pid --state /run/unit/
RuntimeDirectory=unit
LogsDirectory=%N
ReadWritePaths=+/var/www/limesurvey/tmp
ReadWritePaths=+/var/www/limesurvey/upload
ReadWritePaths=+/var/www/limesurvey/application/config
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
