Source: sed
Section: utils
Maintainer: badsysadm <me@badsysadm.com>
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 pkg-config,
 gettext,
 texinfo

Package: sed
Architecture: amd64
Static-Built-Using: gcc
Depends: ${shlibs:Depends}
Description: GNU sed binary
